<p id="notice"><%= notice %></p>

<p>
  <%= @content.titolo %>
</p>

<p>
  <%= @content.descrizone %>
</p>

<p>
  <%= @content.price %>
</p>

<% if @content.user == current_user %>
  <%= link_to 'Modifica', edit_content_path(@content) %> |
<% end %>
<%= link_to 'Indietro', contents_path %>
